.tabs__input {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.tabs__nav {
  background-color: var(--tabs-nav-bg);
}

.tabs__nav_component {
  margin-top: 2rem;
}

.tabs__menu {
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  gap: 40px;
}

.tabs__container {
  max-width: var(--container-width);
  padding: 0 var(--container-padding);
  margin: 0 auto;
}

.tabs__menu-label {
  cursor: pointer;
  position: relative;
  color: var(--grey-3);
  padding: 0.5rem 0;
  border-bottom: 5px solid transparent;
  display: inline-flex;
  transition: 250ms all;
  white-space: nowrap;
}

.tabs__menu-label::after {
  content: '';
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  top: 100%;
  background-color: var(--dark-bg);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.tabs__menu-label_uppercase {
  text-transform: uppercase;
}

.tabs__code-content {
  padding: 3rem 0;
}

.tabs__pre {
  overflow-x: auto;
  background-color: transparent !important;
}

.tabs__code {
  font-family: monospace, monospace;
  font-size: 1rem;
  color: var(--font-color) !important;
  text-shadow: none !important;
}

/* Prism */

.operator {
  background-color: transparent !important;
}

.string {
  background-color: transparent !important;
}

#all-tab:checked ~ .tabs__nav label[for="all-tab"]:after,
#atoms-tab:checked ~ .tabs__nav label[for="atoms-tab"]:after,
#molecules-tab:checked ~ .tabs__nav label[for="molecules-tab"]:after,
#oragnisms-tab:checked ~ .tabs__nav label[for="oragnisms-tab"]:after,
#html:checked ~ .tabs__nav label[for="html"]:after,
#css:checked ~ .tabs__nav label[for="css"]:after,
#js:checked ~ .tabs__nav label[for="js"]:after,
.tabs__menu-label:hover:after {
  transform: scaleX(1);
}

#all-tab:checked ~ .tabs__nav label[for="all-tab"],
#atoms-tab:checked ~ .tabs__nav label[for="atoms-tab"],
#molecules-tab:checked ~ .tabs__nav label[for="molecules-tab"],
#oragnisms-tab:checked ~ .tabs__nav label[for="oragnisms-tab"],
#html:checked ~ .tabs__nav label[for="html"],
#css:checked ~ .tabs__nav label[for="css"],
#js:checked ~ .tabs__nav label[for="js"],
.tabs__menu-label:hover {
  color: var(--dark-bg);
}

#all-tab:checked ~ .mainly__container .tabs__tab-content-all-tab,
#atoms-tab:checked ~ .mainly__container .tabs__tab-content-atoms-tab,
#molecules-tab:checked ~ .mainly__container .tabs__tab-content-molecules-tab,
#oragnisms-tab:checked ~ .mainly__container .tabs__tab-content-organisms-tab,
#html:checked ~ .tabs__code-content .tabs__tab-content-html,
#css:checked ~ .tabs__code-content .tabs__tab-content-css,
#js:checked ~ .tabs__code-content .tabs__tab-content-js {
  display: block;
}

.tabs__tab-content {
  display: none;
}

.tabs__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(367px, auto);
  grid-gap: 30px;
}

@media (max-width: 768px) {
  .tabs__cards {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(315px, auto);
    grid-gap: 16px;
  }
  .tabs__code-content {
    padding: 1.5rem 0;
  }
}
