.tabs__input {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.tabs__nav {
  background-color: var(--tabs-nav-bg);
}

.tabs__menu {
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  gap: 40px;
}

.tabs__container {
  max-width: var(--container-width);
  padding: 0 var(--container-padding);
  margin: 0 auto;
}

.tabs__menu-label {
  cursor: pointer;
  position: relative;
  color: var(--grey-3);
  padding: 0.5rem 0;
  border-bottom: 5px solid transparent;
  display: inline-flex;
  transition: 250ms all;
  white-space: nowrap;
}

.tabs__menu-label::after {
  content: '';
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  top: 100%;
  background-color: var(--dark-bg);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

#all-tab:checked ~ .tabs__nav label[for="all-tab"]:after,
#atoms-tab:checked ~ .tabs__nav label[for="atoms-tab"]:after,
#molecules-tab:checked ~ .tabs__nav label[for="molecules-tab"]:after,
#oragnisms-tab:checked ~ .tabs__nav label[for="oragnisms-tab"]:after,
.tabs__menu-label:hover:after {
  transform: scaleX(1);
}

#all-tab:checked ~ .tabs__nav label[for="all-tab"],
#atoms-tab:checked ~ .tabs__nav label[for="atoms-tab"],
#molecules-tab:checked ~ .tabs__nav label[for="molecules-tab"],
#oragnisms-tab:checked ~ .tabs__nav label[for="oragnisms-tab"],
.tabs__menu-label:hover {
  color: var(--dark-bg);
}

