/* Стилизация кнопки */
.btn {
  --primary-hover: #2342C0;
  --secondary-hover: #5028C6;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: .875rem 1rem;
  height: 48px;
  border-radius: 8px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  transition: opacity 200ms ease-in-out,
              background 200ms ease-in-out,
              transform 200ms ease-in-out,
              border-color 200ms ease-in-out;
  transform: translateY(0);
  color: var(--text-secondary);
}

.btn:disabled {
  pointer-events: none;
  opacity: 50%;
}

.btn_primary {
  background-color: var(--primary);
  color: #fff;
}

.btn_primary:hover {
  background-color: var(--primary-hover);
}

.btn_secondary {
  background-color: var(--secondary);
  color: #fff;
}

.btn_secondary:hover {
  background-color: var(--secondary-hover);
}

.btn_alternate {
  border: 1px solid var(--grey-3);
  color: var(--text-secondary);
}

.btn_alternate:hover {
  border: 1px solid var(--grey-4);
}

.btn_alternate:disabled {
  opacity: 30%;
}

.btn:active {
  transform: translateY(2px);
}