.card {
  display: flex;
  flex-direction: column;
  background: var(--white);
  border-radius: 12px;
  padding: 80px 24px 30px 26px;
}

.card__body {
  flex-grow: 1;
  margin-bottom: 1.5rem;
}

.card__footer {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 21px;
  line-height: 24.61px;
  text-align: center;
}
