/* Стилизация аккордеона */

.accordion {
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-sizing: border-box;
}

.accordion__item {
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  font-family: Inter, sans-serif;
}

.accordion__summary {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 24px 32px;
}

.accordion__heading {
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: var(--text-primary);
  line-height: 24px;
  font-weight: 400;
}

.accordion__summary::-webkit-details-marker {
  display: none;
}

.accordion__content {
  font-size: 16px;
  color: var(--text-secondary);
  line-height: 24px;
  padding: 0 32px 32px;
}

.accordion__arrow {
  transition: transform 0.2s ease-in;
}

.accrodion__arrow-icon {
  color: var(--text-secondary);
}

.accordion__item[open] .accordion__arrow {
  transform: rotate(180deg);
}
