.toggler {
  display: inline-block;
  position: relative;
}

.toggler_theme-changer {
  display: flex;
  align-items: center;
  gap: 14px;
  cursor: pointer;
}

.toggler__input {
  position: absolute;
  left: -100vw;
}

.toggler__state {
  display: flex;
  align-items: center;
  gap: 12px;
}

.toggler__control {
  width: 52px;
  height: 28px;
  border: 1px solid var(--grey-2);
  border-radius: 16px;
  padding: 2px;
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
}

.toggler__circle {
  width: 24px;
  height: 24px;
  background-color: var(--grey-2);
  border-radius: 50%;
  transform: translateX(0);
  transition: transform 0.5s ease;
}

.toggler__title {
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey-4);
}

.toggler__input:checked ~ .toggler__state .toggler__control {
  background-color: var(--blue);
  border-color: var(--blue);
}

.toggler__input:checked ~ .toggler__state .toggler__circle {
  transform: translateX(22px);
}

.toggler__input:disabled ~ .toggler__state .toggler__control {
  background-color: var(--grey-2);
}

.toggler__input:disabled ~ .toggler__state .toggler__circle {
  background-color: var(--grey-3);
  opacity: 0.25;
}

.toggler__input:focus ~ .toggler__state .toggler__title {
  text-decoration: underline;
}