.btn-close {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-close__img {
  position: absolute;
  height: 9.33px;
  width: 9.33px;
}