.btn-modal-open {
  font-size: 16px;
  line-height: 18.75px;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  padding: 15px 50.58px 14px 51.42px;
  background-color: var(--primary);
  color: var(--white);
  border-radius: 8px;
  cursor: pointer;
}

.btn-modal-open:hover {
  background-color: var(--primary-hover);
}