.grid-4-columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-auto-flow: column;
  gap: 2rem;
}

@media (max-width: 768px) {
  .grid-4-columns {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 1rem;
    grid-auto-flow: row;
  }
}