@import '../fonts/fonts.css';
@import '../../prismjs/prism.css';
@import '../../prismjs/prism-fix.css';
@import './destyle.css';
@import '../../components/page/page.css';
@import '../../components/header/header.css';
@import '../../components/mainly/mainly.css';
@import '../../components/footer/footer.css';
@import '../../components/card/card.css';
@import '../../components/component/component.css';
@import '../../components/menu/menu.css';
@import '../../components/tabs/tabs.css';
@import '../../components/tabs-divider/tabs-divider.css';
@import '../../components/custom-form-elements-container/custom-form-elements-container.css';
@import '../../components/element-preview/element-preview.css';
@import '../../components/grid-4-columns/grid-4-columns.css';
@import '../../components/grid-3-columns/grid-3-columns.css';
@import '../../components/theme-changer/theme-changer.css';
@import '../../components/open-menu/open-menu.css';
@import '../../components/dark-mode/dark-mode.css';
@import '../../components/inputs-container/inputs-container.css';
@import '../../09-lection7/01-burger-menu/burger-menu.css';
@import '../../04-lection2/02-skeleton/skeleton.css';
@import '../../03-lection1/01-button/button.css';
@import '../../04-lection2/01-histogram/histogram.css';
@import '../../05-lection3/01-tooltip/tooltip.css';
@import '../../07-lection5/01-checkbox/checkbox.css';
@import '../../07-lection5/02-radio/radio.css';
@import '../../07-lection5/03-toggler/toggler.css';
@import '../../07-lection5/04-input/input.css';
@import '../../05-lection3/03-calendar/calendar.css';
@import '../../05-lection3/02-modal/modal.css';
@import '../../06-lection4/01-avatar/avatar.css';
@import '../../03-lection1/02-accordion/accordion.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #4263EB;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --light-grey: #F9FAFC;
    --text-grey: #ffffff75;

    --error: var(--red);
    --success: var(--blue);
    --notification: #D84910;

    --primary: var(--blue);
    --primary-hover: #2342C0;
    --secondary: var(--purple);

    --container-width: 1110px;
    --container-padding: 0;

    --modal-title-color: #334D6E;
    --modal-bg: rgba(196, 196, 196, 0.8);
    --modal-body: var(--white);

    --calendar-primary: #334D6E;
    --calendar-week-days: #90A0B7;
    --calendar-item-range-mid: rgba(160, 177, 245, 0.2);

    --open-menu-icon: var(--black);

    /* Ligt&Dark themes */
    --modal-close-icon: var(--black);
    --font-color: var(--black);
    --text-primary: var(--black);
    --text-secondary: var(--grey-4);
    --text-tertiary: var(--grey-3);
    --header-home-bg: var(--white);
    --header-logo-item-bg: var(--black);
    --header-heading-color: var(--black);
    --tabs-nav-bg: var(--white);
    --main-home-bg: var(--light-grey);
    --card-bg: var(--white);
    --card-text-color: var(--black);
    --footer-home-bg: var(--white);
    --footer-text-color: var(--black);
    --dark-bg: var(--black);
    --burger-menu-body: var(--white);
    --burger-menu-logo: var(--black);

    --header-inner-bg: var(--light-grey);
    --footer-inner-bg: var(--light-grey);
    --component-bg: var(--white);
    --component-heading: var(--black);
    --header-logo-inner-bg: var(--black);
}

html[data-theme-dark] {
    --modal-close-icon: var(--white);
    --font-color: var(--text-grey);
    --text-primary: var(--white);
    --text-secondary: var(--white);
    --text-tertiary: var(--white);
    --header-home-bg: var(--black);
    --header-logo-item-bg: var(--grey-1);
    --header-heading-color: var(--text-grey);
    --tabs-nav-bg: var(--black);
    --main-home-bg: var(--grey-4);
    --card-bg: var(--black);
    --card-text-color: var(--text-grey);
    --footer-home-bg: var(--black);
    --footer-text-color: var(--text-grey);
    --dark-bg: var(--grey-1);
    --calendar-item-range-mid: hsl(228, 81%, calc(59% + 10%));
    --calendar-primary: var(--text-grey);
    --modal-body: var(--black);
    --modal-title-color: var(--white);
    --open-menu-icon: var(--grey-4);
    --burger-menu-body: var(--black);
    --burger-menu-logo: var(--white);

    --header-inner-bg: var(--grey-4);
    --footer-inner-bg: var(--grey-4);
    --component-bg: var(--black);
    --component-heading: var(--text-grey);
}

body {
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 1280px) {
    :root {
        --container-padding: 30px;
    }
}

@media (max-width: 768px) {
    :root {
        --container-padding: 16px;
    }
}