.open-menu {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  cursor: pointer;
}

.open-menu__icon {
  fill: var(--open-menu-icon);
}

@media (max-width: 768px) {
  .open-menu {
    display: block;
  }
}