.skeleton {
  border: 1px solid var(--grey-3);
  padding: 24px 40px 32px 24px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.skeleton__container-row {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.skeleton__avatar {
  width: 64px;
  height: 64px;
  background-color: var(--grey-2);
  border-radius: 50%;
  flex-shrink: 0;
}

.skeleton__container-columns {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.skeleton__strip {
  display: flex;
  height: 20px;
  width: 100%;
  background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}

.skeleton__strip_small {
  width: 33%;
}

.skeleton__strip_medium {
  width: 49%;
}

.skeleton__strip + .skeleton__strip {
  margin-top: 8px;
}

