.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip_preview .tooltip__bubble {
  opacity: 1;
  visibility: visible;
}

.tooltip_preview {
  transform: translateY(28px);
}

.tooltip__bubble {
  opacity: 0;
  visibility: hidden;
  white-space: nowrap;
  background-color: var(--primary);
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--grey-2);
  border-radius: 10px;
  padding: 13px 21px 8px;
  position: absolute;
  bottom: calc(100% + 8px);
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.25s linear,
              visibility 0s linear 0.25s;
}

.tooltip__bubble:before {
  content: '';
  position: absolute;
  border: 6px solid transparent;
  border-top-color: var(--primary);
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip__trigger:hover ~ .tooltip__bubble {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}