.footer {
  padding: 71px 0 136px;
  background-color: var(--footer-home-bg);
  color: var(--footer-text-color);
}

.footer__container {
  max-width: var(--container-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--container-padding);
}

.footer_inner {
  padding: 92px 0 56px;
  background-color: var(--light-grey);
}

.footer__heading {
  font-family: Inter, sans-serif;
  font-size: 38px;
  font-weight: 500;
  line-height: 48px;
}

.footer_inner .footer__heading {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--grey-3);
}

.footer__content {
  font-family: Inter, sans-serif;
  padding-top: 32px;
  max-width: 640px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}