.footer {
  padding: 71px 0 136px;
}

.footer__container {
  max-width: var(--container-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__heading {
  font-family: 'Inter', sans-serif;
  font-size: 38px;
  font-weight: 500;
  line-height: 48px;
}

.footer__content {
  font-family: 'Inter', sans-serif;
  padding-top: 32px;
  max-width: 640px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}