.component {
  background-color: var(--white);
  padding: 2rem 3rem;
  box-shadow: 0px 2px 4px 0px #2124290D;
  border-radius: 12px;
}

.component__heading {
  font-family: Inter, sans-serif;
  font-size: 28px;
  line-height: 38px;
  color: var(--grey-4);
  margin-bottom: 1rem;
}

.component__tooltip {
  margin: 70px 0 0 35px;
}

.component .component__avatar {
  width: 200px;
  height: auto;
}

@media (max-width: 768px) {
  .component {
    flex: 1;
    padding: 1rem 1.5rem;
  }

  .component__heading {
    font-size: 20px;
  }
}