.burger-menu-btn-open {
  width: 24px;
  height: 24px;
  text-indent: 5em;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.burger-menu-btn-open::after {
  content: url('./open-menu.svg');
  text-indent: 0;
  position: absolute;
  top: 0;
  left: 0;
}