.grid-3-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 2rem;
  grid-auto-flow: column;
}

@media (max-width: 760px) {
  .grid-3-columns {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, auto);
    gap: 1rem;
  }
}