.menu__heading {
  font-family: 'Inter';
  font-size: 20px;
  line-height: 26px;
  color: var(--font-color);
  margin-bottom: 16px;
}

.menu__list {
  font-family: Inter, sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: var(--font-color);
}

.menu__item + .menu__item {
  margin-top: 4px;
}

.menu__list .menu__item:last-child {
  margin-top: 30px;
}

.menu__link:hover {
  opacity: 0.8;
}

.menu__link_current {
  color: var(--notification);
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }
}
